#qrContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
}

#qrBox {
    position: absolute;

    top: 5%;
    bottom: 5%;
    left: 5%;
    width: calc(85% - 20em);

    background-image:url("img/code.svg");
    background-attachment: scroll;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#messageBox {
    position: absolute;

    top: 5%;
    bottom: 5%;
    right: 5%;
    width: 20em;

    overflow: hidden;
}

